

@using Microsoft.Ajax.Utilities
@using RefugeeCamp.Domain.Models
@using RefugeeCamp.Web.Security
@model RefugeeCamp.Web.ViewModels.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "login-form" }))
{
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
      

        @if  (SessionPersister.User!=null && SessionPersister.User.GetType()==typeof(Admin))
      {<div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">User type</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.UserType, Model.TypeList)   
            </div>
        </div>
      }  

        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            </div>
        </div>
        

        <div class="control-group">
            <!-- Username -->
            <label class="control-label">LastName</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>
        </div>
 
        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>
 
        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>
 
        
        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password (Confirm)</label>
            <div class="controls">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>
 
 
 
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
}