@model RefugeeCamp.Domain.Models.task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this task?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DeleteTaskForm" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            //first letter miniscule
            var proxy = $.connection.notificationHub;
            proxy.client.receiveNotification = function (message) {
                $.notify(
                    message,
                    {
                        autoHideDelay: 5000,
                        position: "top right",
                        className: "error"
                    }
                );
            };
            $("#DeleteTaskForm").submit(function (event) {
                var form = this;

                proxy.server.sendNotifications("La tache a été supprimée avec succès");
         
                event.preventDefault();

                setTimeout(function () {
                    form.submit();
                }, 1800);
            });
            $.connection.hub.start();

        });

    </script>
}
