@model RefugeeCamp.Domain.Models.task

@{
    ViewBag.Title = "Delete";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Task Deletion</h3>
    </div>


</div>

<div class="container-fluid">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <dl class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.name)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.name)
                                </dd>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.description)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.description)
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.startDate)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.startDate)
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.endDate)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.endDate)
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.status)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.status)
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <dt>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </dt>
                        </div>
                        <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.user.FullName)
                                </dd>
                            </div>
                        </div>
                    </div>
                </dl>

                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DeleteTaskForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@{

    <div hidden id="uidM">@ViewBag.Mycookie</div>

}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            //first letter miniscule
            var proxy = $.connection.notificationHub;

            $("#DeleteTaskForm").submit(function (event) {
                var form = this;

                proxy.server.sendNotifications($("#uidM").text(), "La tache a été supprimée avec succès");

                event.preventDefault();

                setTimeout(function () {
                    form.submit();
                }, 1800);
            });
            $.connection.hub.start();

        });

    </script>
}
