@using RefugeeCamp.Web.Security
@model IEnumerable<RefugeeCamp.Domain.Models.task>

@{
    ViewBag.Title = "Index";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Task management</h3>
    </div>
    <div class="col-md-7 align-self-center">
        
    </div>
    
</div>
<div class="container-fluid">
    <div class="col-12">
        
        <div class="card">
        <div class="card-body">
                
           
            
            @using (Html.BeginForm("search"))
            {
                

                        <div class="form-group ">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="col-xs-6">
                                    <div class="d-flex flex-row">
                                        @*search task by name : @Html.TextBox("SearchString")*@
                                        @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search task by name" })
                                        <button type="submit" value="Search" class="btn btn-outline-info btn-rounded">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                    </div>
                                <div class="col-xs-6">
                                    
                                </div>
                                <div class="col-xs-6">
                                    @Html.ActionLink("Add New Task", "Create", null, new { @class = "btn btn-info btn-rounded btn-outline-info" })
                                </div>
                            </div>
                        </div>


            }
            <br/>
            <div class="table-responsive">
                <table class="table color-bordered-table info-bordered-table " style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.startDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.endDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.progress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.name)*@
                                @Html.ActionLink(item.name, "Details", "Task", new { Id = item.id }, null /* html attributes */)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                <span class="text-muted">
                                    <i class="fa fa-clock-o"></i> 
                            
                                    @Html.DisplayFor(modelItem => item.startDate)
                                </span>
                            </td>
                            <td>
                                <span class="text-muted">
                                    <i class="fa fa-clock-o"></i> 
                                    @Html.DisplayFor(modelItem => item.endDate)
                                </span>
                            </td>
                            <td>
                                <div class="@(item.status.Equals("started")?  "label label-table label-success":"label label-table label-danger")">
                                    @Html.DisplayFor(modelItem => item.status)
                                </div>
                            </td>

                            <td>
                                <div class="progress progress-xs margin-vertical-10">
                                    <div class="progress-bar bg-info wow animated progress-animated" 
                                         role="progressbar" aria-valuenow="60" aria-valuemin="0" 
                                         aria-valuemax="100"  id="@item.progress">
                                        @Html.DisplayFor(modelItem => item.progress)% 
                                    </div>
                                </div>

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.FullName)
                            </td>
                            <td class="text-nowrap">
                                <a href="@Url.Action("Edit", "Task", new {id = item.id})" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Task", new {id = item.id})" data-toggle="tooltip" data-original-title="Close">
                                    <i class="fa fa-close text-danger"></i>
                                </a>
                                @*@Html.ActionLink("Details", "Details", new {id = item.id}) |
                            @Html.ActionLink("Delete", "Delete", new {id = item.id})*@
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

    @section scripts{
        <script type="text/javascript">
            
            @foreach (var item in Model)
    {
        <text>
            $("#@(item.progress)").css("width", $("#@(item.progress)").text().replace(/\s/g, ''));


            $("#@(item.progress)").css('animation-duration', '1s').removeClass('progress-bar');
            setTimeout(function () {
                $("#@(item.progress)").addClass('progress-bar');
            }, 1);
        </text>

    }
        </script>
    }
  