@model RefugeeCamp.Domain.Models.joboffer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>joboffer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.begindate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.begindate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fieldOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fieldOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salaryEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaryEstimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMPCHEF_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMPCHEF_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRICTCHEF_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICTCHEF_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
