@model IEnumerable<RefugeeCamp.Domain.Models.refugee>

@{
    ViewBag.Title = "Refugees List";
}

<h2>List of refugees</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @if (item.fiche_ID.Equals(null))
                {                    
                    @Html.ActionLink("Create Medical folder", "Create", new { id = item.id });
                }
            else
                {   
                    @Html.ActionLink("Show medical folder", "Details", new { id = item.medicalfolder.id });
                }
        </td>
    </tr>
}
</table>
