
@model RefugeeCamp.Domain.Models.topic


<div class="card">
    <div class="card-body" >
        <div class="col-md-10">
            <h3>@Html.ActionLink(Model.title, "ShowTopic", "Topic", new {id = Model.id}, null)</h3>
        </div>
        <div class="col-md-2">
            <div class="@(Model.closed ?"btn-success":"btn-danger")">
                <h2 style="text-align: center;">@Model.comments.Count</h2>
            </div>
            <p>
                      
                @Model.user.FullName
                <br/>
                @Model.datePublish
            </p>
        </div>
    </div>

</div>


    
    
 
