@model IEnumerable<RefugeeCamp.Domain.Models.evenement>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Today",
        Value = "today"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Happened",
        Value = "happened"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Coming",
        Value = "to_come"
    });
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("filter"))
{
    <table>
        <tr>
            <td>
                search event by State : @Html.DropDownList("state", listItems)
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-primary" />
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbplace)
        </th>
        <th>
            Creator
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.dateEvent.Value.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campchef.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
