@model IEnumerable<RefugeeCamp.Domain.Models.stock>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "List of available stock";
}
<br />
<h2>List of available stock </h2>
<hr />
<input type="button" value="Manage Providers" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Providers")'" />
<input type="button" value="List Orders" class="btn btn-success" onclick="location.href='@Url.Action("List", "Commande")'"/>
<hr />
<table class="table table-striped" style="background-color:white;">
    <tr>

        <th>Type of Stock</th>
        <th>Quantity in Stock</th>
        <th>Total Quantity</th>
        <th>Stock Value</th>
        <th>Notes</th>
        <th>Order Stock</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.stockType)</td>
            <td>@Html.DisplayFor(modelItem => item.qteInStock)</td>
            <td>@Html.DisplayFor(modelItem => item.qteTotal)</td>
            <td>@Html.DisplayFor(modelItem => item.stockValue)</td>
            <td>@Html.DisplayFor(modelItem => item.notes)</td>
            
               
            <td>
                <input type="button" value="Order Stock" class="btn btn-warning"  onclick="location.href='@Url.Action("Create", "Commande",new { id = item.stockType   })'" />
            </td>
        </tr>
    }

</table>
